@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

/* Typography styles */
body {
	font-family: 'Inter', sans-serif !important;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.25rem;
	font-weight: 600;
}

.tab-text {
	font-size: 0.875rem;
}

.body-text {
	font-size: 1rem;
}

.small-text, label {
	font-size: 0.75rem;
}

.primary-button {
	width: 120px;
	padding: 10px 30px;
	border-radius: 25px;
	background-color: #5425AF;
	align-self: center;
}

/* Add some styles for body*/
body {
	min-height: 100vh;
	height: 100%;
	max-width: 1280px;
	margin: 0 auto !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #121826;
	background-image: url('blur-radial.jpg');
	background-repeat: no-repeat;
	background-position: 25% 25%;
	background-size: cover;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.5rem;
	column-gap: 1.5rem;
}

.step {
	width: 475px;
	height: 390px;
	padding: 40px;
	border-radius: 10px;
	color: #E5E7EB !important;
	background-color: #212936;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

input {
	padding: 10px !important;
	border-radius: 10px;
	color: #E5E7EB !important;
	border: 1px solid #4D5562;
	background-color: #212936;
}
input::placeholder {
	color: #E5E7EB !important;
	opacity: 1;
}
input::-webkit-input-placeholder {
	color: #E5E7EB !important;
}

.steps-description {
	color: #A1A1A9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	gap: 2rem;
}

.step-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #212936;
}

@media screen and (min-width: 720px) {

}
